/* 1280 x 720(overscan 1152 x 648)px	tvdpi	213	960 x 540	large */

document {
	padding:0;
	margin:0;
	border:0;
}

body {
	padding:0;
	margin:0;
	border:0;
	overflow:hidden;
}

#app {
	width:100%;
	height:100%;
	overflow: hidden;
}
